/* 
    Created on : Nov 12, 2015, 10:36:03 AM
    Author     : Joe
*/

#userInfo {
    background-color: white;
    height: 100px;
}

#userInfo th, td, tr {
    border: 1px solid black;
}

#user {
    margin-left: 30%;
    margin-top: 20%;
}

#user table {
    width: 50%;
}

.titleAcct h1 {
    margin-left: 20%;
    color: red;
}

body {
    background-color: black;
}